
@{
    ViewBag.Title = "Daftar Tagihan";
    Layout = "~/Areas/Payment/Views/Shared/_Layout.cshtml";
}

<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>
                Daftar Tagihan
            </h1>
        </div>
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <!-- END PAGE TOOLBAR -->
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="portlet box blue-chambray">
                    <div class="portlet-title">
                        <div class="caption">
                            Daftar tagihan perusahaan
                        </div>
                        <div style="float:right;margin:5px;">
                            <a class="btn green green-turquoise-stripe" href="#">
                                <i class="fa fa-send"></i> Submit
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:450px !important"> Action </th>
                                        <th scope="col"> Perusahaan </th>
                                        <th scope="col"> Bill dok </th>
                                        <th scope="col"> Evaluator </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                    </tr>
                                    <tr>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                        <td> Table data </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

