
@{
    ViewBag.Title = "- Home Page";
}

<div class="row margin-bottom-40 about-header">
    <div class="col-md-12">
        <h1>PT Coal Indonesia</h1>
        <p class="lead font-white">Direktorat Pembinaan Pengusahaan Batubara Ditjen Mineral dan Batubara - ESDM</p>
        @*<h2>Life is either a great adventure or nothing</h2>*@
    </div>
</div>

