<div class="modal fade bs-modal-lg"
     id="KeteranganTenagaKerjaTahunan"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Detail Tenaga Kerja</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <!--start Direktur (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="DirekturTki">Direktur (TKI)</label>
                                <input type="number" class="form-control" name="direkturtki" id="DirekturTki" disabled>
                            </div>
                        </div>
                        <!--end Direktur (TKI)-->
                        <!--start Direktur (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="DirekturTka">Direktur (TKA)</label>
                                <input type="number" class="form-control" name="direkturtka" id="DirekturTka" disabled>
                            </div>
                        </div>
                        <!--end Direktur (TKA)-->
                    </div>

                    <div class="row">
                        <!--start manajer/profesional (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="ManajerTki">Manajer / Profesional (TKI)</label>
                                <input type="number" class="form-control" name="manajertki" id="ManajerTki" disabled>
                            </div>
                        </div>
                        <!--end manajer/profesional (TKI)-->
                        <!--start manajer/profesional (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="ManajerTka">Manajer / Profesional (TKA)</label>
                                <input type="number" class="form-control" name="manajertka" id="ManajerTka" disabled>
                            </div>
                        </div>
                        <!--end manajer/profesional (TKA)-->
                    </div>

                    <div class="row">
                        <!--start supervisor/technical (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="SupervisorTki">Supervisor / Technical (TKI)</label>
                                <input type="number" class="form-control" name="supervisortki" id="SupervisorTki" disabled>
                            </div>
                        </div>
                        <!--end supervisor/technical (TKI)-->
                        <!--start supervisor/technical (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="SupervisorTka">Supervisor / Technical (TKA)</label>
                                <input type="number" class="form-control" name="supervisortka" id="SupervisorTka" disabled>
                            </div>
                        </div>
                        <!--end supervisor/technical (TKA)-->
                    </div>

                    <div class="row">
                        <!--start tenaga terampil (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="TenagaTerampilTki">Tenaga Terampil (TKI)</label>
                                <input type="number" class="form-control" name="tenagaterampiltki" id="TenagaTerampilTki" disabled>
                            </div>
                        </div>
                        <!--end tenaga terampil (TKI)-->
                        <!--start tenaga terampil (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="TenagaTerampilTka">Tenaga Terampil (TKA)</label>
                                <input type="number" class="form-control" name="tenagaterampiltka" id="TenagaTerampilTka" disabled>
                            </div>
                        </div>
                        <!--end tenaga terampil (TKA)-->
                    </div>

                    <div class="row">
                        <!--start administrasi (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="AdministrasiTki">Administrasi (TKI)</label>
                                <input type="number" class="form-control" name="administrasitki" id="AdministrasiTki" disabled>
                            </div>
                        </div>
                        <!--end administrasi (TKI)-->
                        <!--start administrasi (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="AdministrasiTka">Administrasi (TKA)</label>
                                <input type="number" class="form-control" name="administrasitka" id="AdministrasiTka" disabled>
                            </div>
                        </div>
                        <!--end administrasi (TKA)-->
                    </div>

                    <div class="row">
                        <!--start tenaga tdk terampil (TKI)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="TenagaTdkTerampilTki">Tenaga Tidak Terampil (TKI)</label>
                                <input type="number" class="form-control" name="tenagatdkterampiltki" id="TenagaTdkTerampilTki" disabled>
                            </div>
                        </div>
                        <!--end tenaga tdk terampil (TKI)-->
                        <!--start tenaga tdk terampil (TKA)-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="TenagaTdkTerampilTka">Tenaga Tidak Terampil (TKA)</label>
                                <input type="number" class="form-control" name="tenagatdkterampiltka" id="TenagaTdkTerampilTka" disabled>
                            </div>
                        </div>
                        <!--end tenaga tdk terampil (TKA)-->
                    </div>

                    <div class="row">
                        <!--start Keterangan-->
                        <div class="col-md-12">
                            <div class="form-group has-success">
                                <label for="KeteranganTenagaKerja">Keterangan</label>
                                <textarea class="form-control" rows="3" disabled></textarea>
                            </div>
                        </div>
                        <!--end Keterangan-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
