<div class="modal fade bs-modal-lg"
     id="FormPenjualanBatubaraTahunan"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Form Kontrak Penjualan Batubara</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:400px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <!--start Nama Perusahaan pembeli-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="NmPerusahaanPembeli">Nama Perusahaan Pembeli</label>
                                <input type="text" class="form-control" name="nmperusahaanpembeli" id="NmPerusahaanPembeli">
                            </div>
                        </div>
                        <!--end Nama Perusahaan pembeli-->
                        <!--start Nama Transshipment-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="Transsipment">Lokasi Transshipment</label>
                                <input type="text" class="form-control" name="transsipment" id="Transsipment">
                            </div>
                        </div>
                        <!--end Nama Transshipment-->
                    </div>

                    <div class="row">
                        <!--start negara-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="Negara">Negara</label>
                                <input type="text" class="form-control" name="negara" id="Negara">
                            </div>
                        </div>
                        <!--end negara-->
                        <!--start lokasi pelabuhan-->
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <label for="LokasiPelabuhan">Lokasi Pelabuhan</label>
                                <input type="text" class="form-control" name="lokasipelabuhan" id="LokasiPelabuhan">
                            </div>
                        </div>
                        <!--end lokasi pelabuhan-->
                    </div>
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-body" style="padding-left:5px;padding-right:5px;margin-top:10px;">
                                <h4 class="bold">Kualitas Batu Bara</h4>

                                <div class="row">
                                    <!--start GCV-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="GCV">Gross Calorific Value(GCV)</label>
                                            <input type="text" class="form-control" name="gcv" id="GCV">
                                        </div>
                                    </div>
                                    <!--end GCV-->
                                    <!--start total moisture-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="TotalMoisture">Total Moisture (TM)</label>
                                            <input type="text" class="form-control" name="totalmoisture" id="TotalMaisture">
                                        </div>
                                    </div>
                                    <!--end total moisture-->
                                </div>

                                <div class="row">
                                    <!--start inherent moisture-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="InherentMaisture">Inherent Moisture (IM)</label>
                                            <input type="text" class="form-control" name="inherentmoisture" id="InherentMoisture">
                                        </div>
                                    </div>
                                    <!--end inherent moisture-->
                                    <!--start total sulphur-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="TotalSulphur">Total Sulphur (TS)</label>
                                            <input type="text" class="form-control" name="totalsulphur" id="TotalSulphur">
                                        </div>
                                    </div>
                                    <!--end total sulphur-->
                                </div>

                                <div class="row">
                                    <!--start ash-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="Ash">Ash</label>
                                            <input type="text" class="form-control" name="ash" id="Ash">
                                        </div>
                                    </div>
                                    <!--end ash-->
                                    <!--start titik jual-->
                                    <div class="col-md-6">
                                        <div class="form-group has-success">
                                            <label for="TitikJual">Titik Jual</label>
                                            <input type="text" class="form-control" name="titikjual" id="TitikJual">
                                        </div>
                                    </div>
                                    <!--end titik jual-->
                                </div>

                                <div class="row">
                                    <!--start harga FOB-->
                                    <div class="col-md-6">
                                        <label for="HargaFob">Harga FOB</label>
                                        <div class="form-group has-success">
                                            <input type="text" class="form-control" name="hargafob" id="HargaFob">
                                        </div>
                                    </div>
                                    <!--end harga FOB-->
                                    <!--start jenis FOB-->
                                    <div class="col-md-6">
                                        <label for="form_control_1">Jenis FOB</label>
                                        <div class="form-group has-success">
                                            <select class="form-control" name="jenisfob">
                                                <option></option>
                                                <option value="Vesel">Vesel</option>
                                                <option value="Tongkang">Tongkang</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--end jenis FOB-->
                                </div>

                                <div class="row">
                                    <!--start keterangan-->
                                    <div class="col-md-12">
                                        <div class="form-group has-success">
                                            <label for="KeteranganPembelian">Keterangan</label>
                                            <textarea class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <!--end keterangan-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn red">
                    <i class="fa fa-close"></i> Close
                </button>
                <button type="button" class="btn green-sharp red-stripe">
                    <i class="fa fa-save"></i> Save changes
                </button>
            </div>
        </div>
    </div>
</div>
